@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dancing+Script:wght@500&display=swap');

.nav {
  height: 40px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* mix-blend-mode: difference; */
  position: fixed;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.1);
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav ul li,
.nav h2 {
  cursor: pointer;
}

.nav h2 {
  font-family: 'Dancing Script', cursive;
}

.a-link {
  text-decoration: none;
  color: black;
}

@media (min-width: 400px) and (max-width: 600px) {
  .nav h2 {
    font-size: 15px;
  }

  .nav ul {
    gap: 10px;
  }

  .nav ul li a {
    font-size: 12px;
  }
}

@media (min-width: 600px) and (max-width: 850px) {
  .nav h2 {
    margin-right: 50px;
    font-size: 17px;
  }
  .nav ul {
    gap: 20px;
  }
  .nav ul li a {
    font-size: 14px;
  }
}

@media (min-width: 850px) and (max-width: 1080px) {
  .nav h2 {
    margin-right: 50px;
    font-size: 17px;
  }

  .nav ul {
    gap: 30px;
  }

  .nav ul li a {
    font-size: 16px;
  }
}
@media (min-width: 1080px) and (max-width: 1440px) {
  .nav h2 {
    margin-right: 50px;
    font-size: 17px;
  }

  .nav ul {
    gap: 50px;
  }

  .nav ul li a {
    font-size: 17px;
  }
}
@media (min-width: 1440px) and (max-width: 2560px) {
  .nav h2 {
    font-size: 18px;
    margin-right: 50px;
  }

  .nav ul {
    gap: 40px;
  }

  .nav ul li a {
    font-size: 16px;
  }
}
