@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dancing+Script:wght@500&display=swap');

.footer {
  max-width: 100vw;
  height: 280px;
  background-image: url('../../assets/footerbg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(29, 12, 7, 0.85);
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  /* position: relative; */
  /* position: absolute; */
}

.icons {
  display: flex;
  gap: 20px;
}

.p1 {
  width: 70%;
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0px;
}

.icons span i {
  cursor: pointer;
  font-size: 20px;
}

.icons span i:hover {
  color: rgb(211, 183, 188);
}

.footer h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 45px;
  margin-bottom: 0;
}

.footer h2 {
  font-size: 20px;
  font-weight: 400;
}

.footer h2 a {
  color: white;
  text-decoration: none;
}

.footer h2 a:hover {
  color: rgb(211, 183, 188);
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}
